$w: #e1e1df;
$wl: #f6f6f6;
$b: #008ed8;
$p: #eaa8a2;
$g: green;
$bk: #181818;
$gy: #70706b;
$tl: #a3d6d1;
$tld: #1eac9f;
$t: transparent;

@mixin pseduo-div($w, $h, $c) {
  content: '';
  width: $w;
  height: $h;
  position: absolute;
  background-color: $c;
}
@mixin w-h($w, $h) {
  width: $w;
  height: $h;
}
body {
  margin: 0;
  background: $b;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(
    #336ba4,
    $b 65%,
    darken(#dad8d8, 5%) 65.1%,
    #dddbdb 75%
  );

  @media only screen and (max-width: 600px) {
    background: linear-gradient(
      #336ba4,
      $b 60%,
      darken(#dad8d8, 5%) 60.1%,
      #dad8d8 75%
    );
  }
}
.spiken {
  // background-image: url('../resources/spiken-led-night-light-otter-shaped-battery-operated-multicolour__0831193_pe777009_s5.jpg');
  position: relative;
  background-size: 900px;
  width: 90vmin;
  height: 90vmin;
  background-repeat: no-repeat;
  background-position: center;
  // border: 1px solid red;

  // shadow
  &::before {
    @include pseduo-div(42vmin, 7vmin, $g);
    top: 79.1%;
    left: 26.6%;
    border-radius: 50%;
    background: radial-gradient(#594a3e, $t 68%);
  }
  .top {
    /* teal part */
    &:before {
      @include pseduo-div(27.5vmin, 13vmin, $t);
      top: 62.5%;
      left: 34.6%;
      border-radius: 0 0 55% 55% / 35% 35% 100% 100%;
      box-shadow: inset 0 -0.2vmin 0.5vmin $tld,
        inset 0.5vmin 0.5vmin 1vmin lighten($tl, 15%),
        inset 0 -0.5vmin 1.5vmin $tld;
      background: linear-gradient(
        90deg,
        $tl,
        darken($tl, 10%) 40%,
        darken($tl, 5%) 80%,
        $tl
      );
    }
    .body {
      @include w-h(27.5vmin, 47vmin);
      position: absolute;
      top: 14.5%;
      left: 34.6%;
      box-shadow: inset 0.5vmin 0 1.1vmin $w,
        inset -0 -0.1vmin 0.5vmin lighten($gy, 25%);
      border-radius: 47% 47% 45% 45% / 38% 38% 8% 8%;
      background: radial-gradient(circle at 36% 28%, $wl 5%, $t 25%),
        linear-gradient(90deg, $wl, $w 25%, $w 80%, $wl);

      /* ears */
      &::before,
      &::after {
        @include pseduo-div(12.6%, 8%, $p);
        top: -1.5%;
        border-radius: 50% 50% 0 0 / 50% 50% 0 0;
        box-shadow: inset 0.6vmin 0.27vmin $w, inset -0.6vmin 0.27vmin $w,
          inset 0 0.6vmin $w;
        background: radial-gradient(
          circle at 50% 250%,
          $w 65%,
          $p 65.5%,
          darken($p, 10%)
        );
      }
      &::before {
        left: 18%;
        transform: rotate(-35deg);
      }
      &::after {
        left: 70%;
        transform: rotate(35deg);
      }
    }
    .face {
      @include w-h(15vmin, 6vmin);
      position: absolute;
      top: 24.2%;
      left: 41.8%;
      background:
      /* eyes */ radial-gradient(
          circle at 22% 9%,
          $w 0.8%,
          $t 1.5%
        ),
        radial-gradient(circle at 22% 10.8%, $bk 4.2%, $t 4.5%),
        radial-gradient(circle at 22.5% 12.3%, $wl 4.2%, $t 4.5%),
        radial-gradient(circle at 78.5% 9%, $w 0.8%, $t 1.5%),
        radial-gradient(circle at 78.5% 10.8%, $bk 4.2%, $t 4.5%),
        radial-gradient(circle at 79.5% 11.5%, $wl 4.2%, $t 4.5%);

      /* nose */
      &::before {
        @include pseduo-div(3vmin, 2.1vmin, $p);
        position: absolute;
        top: 50%;
        left: 40%;
        border-radius: 50% / 45% 45% 50% 50%;
        box-shadow: inset 0.1vmin 0.1vmin 0.4vmin lighten($p, 15%),
          inset -0.1vmin -0.1vmin 0.4vmin darken($p, 15%);
        background: radial-gradient(
            ellipse at 36% 36%,
            lighten($p, 18%) 10%,
            $t 18%
          ),
          $p;
      }

      &__whiskers {
        &--l,
        &--r {
          position: absolute;
          @include w-h(4.7vmin, 0.3vmin);
          top: 45%;
        }
        &--l,
        &--l::before,
        &--l::after {
          border-radius: 10% 20% 20% 10% / 50%;
          background: linear-gradient(90deg, $gy, $bk);
        }
        &--l {
          left: 6%;
          transform: rotate(20deg);

          &::before,
          &::after {
            @include pseduo-div(4.8vmin, 0.3vmin, $bk);
          }
          &::before {
            top: 390%;
            left: 5%;
            transform: rotate(-15deg);
          }
          &::after {
            top: 780%;
            left: 16%;
            transform: rotate(-26deg);
          }
        }
        &--r,
        &--r::before,
        &--r::after {
          border-radius: 20% 10% 10% 20% / 50%;
          background: linear-gradient(90deg, $bk, $gy);
        }
        &--r {
          left: 63%;
          transform: rotate(-20deg);

          &::before,
          &::after {
            @include pseduo-div(4.8vmin, 0.3vmin, $bk);
          }
          &::before {
            top: 420%;
            left: -5%;
            transform: rotate(15deg);
          }
          &::after {
            top: 770%;
            left: -16%;
            transform: rotate(26deg);
          }
        }
      }
    }
    .feet {
      @include w-h(20.6vmin, 3vmin);
      position: absolute;
      top: 74.1%;
      left: 38.4%;

      &:before,
      &:after {
        @include pseduo-div(5vmin, 3vmin, $tl);
        top: 0;
      }
      &::before {
        left: 1%;
        border-radius: 15% 69% 40% 38% / 45% 81% 25% 36%;
        box-shadow: inset -0.3vmin -0.2vmin 0.5vmin $tld;
        background: radial-gradient(
            ellipse at 29% 29%,
            lighten($tl, 12%),
            $t 20%
          ),
          linear-gradient(99deg, $tl 10%, $tl 50%, darken($tl, 22%));
      }
      &::after {
        right: 1%;
        border-radius: 69% 15% 38% 40% / 81% 45% 36% 25%;
        box-shadow: inset 0 -0.2vmin 0.5vmin $tld;
        background: radial-gradient(
            ellipse at 30% 38%,
            lighten($tl, 15%),
            $t 20%
          ),
          linear-gradient(99deg, $tl 30%, darken($tl, 10%) 70%, $tl);
      }
    }
    .arm {
      &--l,
      &--r {
        @include w-h(2.8vmin, 7vmin);
        position: absolute;
        top: 43%;

        &::after {
          @include pseduo-div(2.5vmin, 3vmin, $t);
        }
      }
      &--l {
        border-radius: 50% / 30% 0 30% 30%;
        box-shadow: inset -0.5vmin -0.6vmin 0.5vmin darken($w, 4%);
        transform: rotate(-40deg);
        left: 40.5%;

        &::after {
          top: -43.5%;
          left: 20%;
          border-radius: 50% / 30% 30% 0 0;
          transform: rotate(10deg);
          box-shadow: inset 0.3vmin 0.6vmin 0.4vmin lighten($w, 5%),
            inset 0.3vmin 0.1vmin 0.2vmin lighten($w, 5%),
            inset -0.5vmin 0.3vmin 0.5vmin darken($w, 4%);
        }
      }
      &--r {
        border-radius: 50% / 0 0 30% 30%;
        box-shadow: inset 0.5vmin -0.6vmin 0.5vmin lighten($w, 8%),
          0.5vmin 0.4vmin 1vmin -0.5vmin darken($w, 10%);
        transform: rotate(40deg);
        left: 56.5%;

        &::after {
          top: -44.8%;
          left: -9%;
          border-radius: 50% / 30% 30% 0 0;
          transform: rotate(-10deg);
          box-shadow: inset -0.3vmin 0.2vmin 0.4vmin lighten($w, 4%),
            inset -0.3vmin 0.2vmin 0.2vmin lighten($w, 4%),
            inset 0.5vmin 0.2vmin 0.5vmin lighten($w, 8%);
        }
      }
    }
  }
  .base {
    @include w-h(26vmin, 10vmin);
    // border: 1px solid red;
    position: absolute;
    top: 74.8%;
    left: 35.4%;
    box-shadow: inset -0.3vmin 0.2vmin 0.5vmin darken($tl, 15%);
    border-radius: 25% 12% 12% 15% / 20% 20% 11% 11%;
    background: linear-gradient(lighten($tl, 35%), $t 35%),
      linear-gradient(
        90deg,
        lighten($tl, 10%),
        darken($tl, 5%) 15%,
        darken($tl, 10%),
        $tl
      ),
      linear-gradient(-97deg, $t 2%, $tl 2.35%, $tl 80%, $t 80%);

    &::after {
      @include pseduo-div(26vmin, 5.8vmin, $t);
      border-radius: 0 0 15% 15% / 0 0 20% 20%;
      // border: 1px solid red;
      box-shadow: inset 0vmin -0.1vmin lighten($tl, 10%);
      top: -30%;
      background: linear-gradient(
          97deg,
          $t 2%,
          lighten($tl, 10%) 2.35%,
          $tl 10%,
          darken($tl, 5%) 40%,
          $t 80%
        ),
        linear-gradient(
          -97deg,
          $t 2%,
          darken($tl, 10%) 2.35%,
          $tld 40%,
          $tl,
          $t 80%
        );
    }
    input {
      position: absolute;
      visibility: hidden;
    }
    label {
      @include w-h(3.5vmin, 3.5vmin);
      position: absolute;
      top: 46%;
      left: 43.5%;
      border-radius: 20% / 20%;
      box-shadow: 0.2vmin -0.15vmin 0.2vmin $tld;
      transform: rotate(45deg);
      background: radial-gradient(
          circle at 52% 50%,
          darken($tl, 10%) 0.85vmin,
          $t 0.85vmin
        ),
        radial-gradient(circle at 46% 51.5%, $tld 0.85vmin, $t 0.88vmin),
        linear-gradient(185deg, darken($tl, 10%), $tl 80%, lighten($tl, 5%));
    }
  }
}
.frame {
  @include w-h(30vmin, 30vmin);
  position: absolute;
  background: linear-gradient(166deg, #5b8bb5, #79aed9);
  top: -3%;
  left: -2.5%;
  border: inset 5vmin #013974;
  box-shadow: inset 0.2vmin 0.2vmin 0.9vmin #013974,
    0.2vmin 0.2vmin 0.6vmin darken(#336ba4, 15%);

  @media only screen and (max-width: 600px) {
    top: 3%;
  }
  &::before {
    @include pseduo-div(15vmin, 15vmin, $t);
    border: 2px solid $bk;
    top: 25%;
    left: 16%;
  }
  p {
    width: 2vmin;
    position: absolute;
    top: 18%;
    left: 18%;
    font-size: 4vmin;
    font-family: sans-serif;
    color: $bk;
  }
}
