:root {
  --w: #e7e7e7;
  --b: #008ed8;
  --p: #eaa8a2;
  --g: green;
  --bk: black;
  --t: transparent;
}

body {
  margin: 0;
  background: #f5e9c7;
  background: var(--b);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.spiken {
  background-size: 900px;
  width: 90vmin;
  height: 90vmin;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  border: 1px solid red;
}

.spiken__body {
  width: 27.5vmin;
  height: 56vmin;
  position: absolute;
  top: 14.5%;
  left: 34.6%;
  border-radius: 47% 47% 35% 35% / 33% 33% 19% 19%;
  background: radial-gradient(circle at 35.5% 16.8%, var(--w) 0.2%, var(--t) 0.5%), radial-gradient(circle at 35.5% 17%, var(--bk) 1%, var(--t) 1.2%), radial-gradient(circle at 66.5% 16.8%, var(--w) 0.2%, var(--t) 0.5%), var(--t) radial-gradient(circle at 66.5% 17%, var(--bk) 1%, var(--w) 1.2%);
}

.spiken__body::before, .spiken__body::after {
  content: '';
  width: 12.6%;
  height: 7%;
  position: absolute;
  background-color: var(--p);
  top: -1.5%;
  border-radius: 50% 50% 0% 0% / 50% 50% 0% 0%;
  -webkit-box-shadow: inset 0.6vmin 0.27vmin var(--w), inset -0.6vmin 0.27vmin var(--w), inset 0 0.6vmin var(--w);
          box-shadow: inset 0.6vmin 0.27vmin var(--w), inset -0.6vmin 0.27vmin var(--w), inset 0 0.6vmin var(--w);
  background: radial-gradient(circle at 50% 250%, var(--w) 65%, var(--p) 65.5%);
}

.spiken__body::before {
  left: 18%;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

.spiken__body::after {
  left: 70%;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}
